/* ///////////////////////////
Hijack Specific CSS
Please feel free to modify to meet your needs
If you see areas of improvement please let us know!
/////////////////////////// */ 
.hjsel_select 
{
	border: solid 1px #e0e0e0;
	border-top: solid 1px #abadb3;
	background: #fff;
	
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;	
}

.hjsel_txtbox 
{
	border: solid 1px #fff;
	margin-left: 2px;
}

.hjsel_options 
{
	display: none;
	position: absolute;
	z-index: 1;
	
	background: #fff;
	border: solid 1px #888;
	border-width: 1px 1px 1px 2px;
	border-color: #888 #000 #000 #888;


	max-height: 200px;
	_height: 200px;
	min-width: 400px;
	overflow: auto;
}

.hjsel_options ul
{
	padding: 0;
	margin: 0;
}

.hjsel_options li
{
	list-style: none;
	padding: 0 3px;
}

.hjsel_options_hover
{
	background: Highlight;
	color: HighlightText;
	cursor: pointer;
}

.hjsel_ddImage
{
	cursor: pointer;
	margin-bottom: 2px;
}

.hjsel_ddCancel
{
	cursor: pointer;
	margin: 0 5px 1px 0;
}
