html, body {
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.title {
    overflow: hidden;
    widht: 100%;
    height: 20px;
}

.title a {
    float: right;
    color: #686868 !important;
}

h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.title span {
    float: left;
}

#logo {
    margin: 20px;
}

a, a:hover, a:active {
    color: #464646;
    text-decoration: none;
}

.menu ol li {
    display: inline;
    padding: 5px;
    padding-right: 15px;
    padding-left: 8px;
    background: #fdfdfd url('rwt.png') no-repeat right;
    margin: 0;
    height: 31px;
    text-align: center;
    vertical-align: middle;
}

.menu ol {
    float: left;
    padding: 0;
    margin: 0;
}

.menu ol li:first-child {
    background: #edeff0 url('rgt.png') no-repeat right;
}

.menu {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 33px;
    overflow: hidden;
    border-top: #a6a6a6 1px solid;
    background: url('sb.png') repeat-x bottom;
}

.menu #user_setting {
    float: right;
    overflow: hidden;
    height: 25px;
    vertical-align: middle;
    line-height: 25px;
}

#user_setting .left {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

#user_setting .right {
    float: right;
    background: #d8dbde;
    border-left: #a6a6a6 1px solid;
    padding-left: 5px;
    padding-right: 15px;
}

a.plust_rate, a.minus_rate {
    display: inline-block;
    width: 14px;
    text-align: center;
}

.plus_rate,  a.plus_rate {
    color: #73BF60 !important;
}

.minus_rate,  a.minus_rate {
    color: #802021 !important;
}

a.minus_rate:hover {
    color: #fff !important;
    background: #802021 !important;
}

a.plus_rate:hover {
    color: #fff !important;
    background: #73BF60 !important;
}

.userpic_profile {
    float: right;
    position:relative;
    max-width: 150px;
}

#content {
    float: left;
    width: 75%;
    padding: 20px;
    position: relative;
}

#sidebar {
    float: right;
    width: 20%;
}

#tag, .top {
    border: #a6a6a6 1px solid;
    border-right: none;
    padding: 3px;
    text-align: center;
    margin-bottom: 20px;
}

table.top {
    width: 100%;
    vertical-align: top;
}

#fast_panel_selector, #fast_list_selector {
    background: #D8DBDE;
    border-left: #A6A6A6 1px solid;;
    text-align: center;
}
.top  td {
    vertical-align: top;
}

.top:first-child {
    margin-top: 15px;
}

li.comment {
    list-style-image: url('/media/style/speech_bubble.gif')
}

li.post {
    list-style-image: url('/media/style/document.gif')
}

li.blog {
    list-style-image: url('/media/style/figure.gif')
}

li.user {
    list-style-image: url('/media/style/documents.gif')
}

li.blog, li.user, li.post, li.comment {
    text-align: left;
}

.tag_1 {
    font-size: 8px;
}
.tag_2 {
    font-size: 10px;
}
.tag_3 {
    font-size: 12px;
}
.tag_4 {
    font-size: 14px;
}
.tag_5 {
    font-size: 16px;
}
.tag_6 {
    font-size: 20px;
}
.tag_7 {
    font-size: 24px;
}
.tag_8 {
    font-size: 28px;
}
.tag_9 {
    font-size: 32px;
}

#bottom {
    position: relative;
    bottom: 0;
    top: 100%;
}

#meon_area p, #answ_area p {
    margin: 0;
}
.form {
    list-style: none;
    padding-left: inherit;
}

.result {
    background: #D8DBDE;
    height: 12px;
    display: inline-block;
}

div.post {
    border-bottom: #D8DBDE 1px solid;
    margin-bottom: 15px !important;
}

div .post:last-child {
    border-bottom: 0 !important;
}

.date {
    color: #999;
    font-size: 12px;
}

.post_rate, .comment_rate {
    float: right;
}

.post_full {
    float: left;
}

.post_bottom {
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 15px;
}

a#main_form_hide, a#main_form_hide:hover, a#main_form_hide:active {
    border-bottom: 1px dashed;
    font-size: 24px;
    text-decoration: none;
    display: none;
}

.comment_top {
    margin-bottom: 6px;
    margin-top: 12px;
    overflow: hidden;
    background: #D8DBDE;
    padding: 2px;
}

.post_list_head {
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#comment_preview {
    border: 1px #D8DBDE solid;
}

.fast_panel {
    display: block !important;
    margin: 3px;
    width: 12px;
    height: 12px;
}

#fast_posts {
    background: url('/media/style/document.gif');
}

#fast_comments {
    background: url('/media/style/speech_bubble.gif');
}

#fast_users {
    background: url('/media/style/figure.gif');
}

#fast_blogs {
    background: url('/media/style/documents.gif');
}