{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% include "messages/menu.html" %}
<h2>{% trans "Deleted Messages" %}</h2>
{% if message_list %} 
<ul class="messages">

{% for message in message_list %}

        <li class="list_msg {% if message.new %}new_msg{% endif %}"><a href='/user/{{ message.sender }}/'><img src='{{ message.sender.get_profile.get_avatar }}' class='mini_av' />{{ message.sender }}</a>
         — <a href="{{message.get_absolute_url }}">{{ message.subject }}</a> <a class='del_msg' href="{% url messages.views.delete message.id %}">[X]</a>
        </li>

{% endfor %}
</ul>
{% else %}
<p>{% trans "No messages." %}</p>
{% endif %}   
<br />
<p>{% trans "Deleted Messages are removed from the trash at unregular intervals, don't rely on this feature for long-time storage." %}</p>
{% endblock %}