<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel='Stylesheet' type='text/css' href='/media/style/main.css'>
<link rel='Stylesheet' type='text/css' href='/media/style/code.css'>
    <link href="/media/style/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/media/style/jquery.jgrowl.css" type="text/css" media="all" rel="stylesheet" />
    <script src="/media/script/jquery.js"></script>
    <script src="/media/script/jquery.jgrowl_compressed.js"></script>
    <script type="text/javascript" src="/media/script/jquery.autocomplete.min.js"></script>
    <script src="/media/script/main.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

        {% load cache %}
        {% load i18n %}
        {% load pytils_numeral %}
        {% cache MENU_CACHE_TIME menu %}
        <div class='menu'>
            {% load tree_menu_tags %}
            {% show_menu "menu" "ordered-list" %}
            <div id="user_setting">
                {% if user.is_authenticated %}
                    <span class="left"><a href="/user/{{ user.username }}/">{{ user.username }}</a> {{ your_rate }} <a href="/newpost/">{% trans "New post" %}</a> / <a href='/newblog/'>{% trans "blog" %}</a>.
                        {% trans "Your" %} <a href='/myblogs/'>{% trans "blogs" %}</a> {% trans "and" %} <a href='/pm/'>{% trans "PM's" %}</a>
                        {% if messages_inbox_count %}
                            {{ messages_inbox_count }}
                        {% endif %}</span>
                    <span class="right"><a href='/logout/'>{% trans "Log out" %}</a></span>
                {% else %}
                    <span class="left"><a href='/register/'>{% trans "Register" %}</a></span>
                    <span class="right"><a href='/login/'>{% trans "Log in" %}</a></span>
                {% endif %}
            </div>
        </div>
       
        {% endcache %}
   
        <div id='content'>
            {% block content %}{% endblock %}
        </div>
        {% cache SIDEBAR_CACHE_TIME sidebar user %}
        <div id="sidebar">
            <table class="top">
                <tr><td id='fast_panel_area'>
                <ul>
                    {% for object in top_post_comment %}
                        {% if object.type == 'post' %}
                            <li class="post"><a href="/post/{{ object.object.id }}/">{{ object.object.title }}</a></li>
                        {% else %}
                            <li class="comment"><a href="/post/{{ object.object.post.id }}/#cmnt{{ object.object.id }}">{{ object.object.author }} — {{ object.object.post.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul></td>
                <td  id='fast_panel_selector'>
                    <a href='#fast_post' id='fast_posts' class='fast_panel'></a>
                    <a href='#fast_comment' id='fast_comments' class='fast_panel'></a>
                    <a href='#fast_draft' id='fast_drafts' class='fast_panel'></a>
                    <a href='#fast_spy' id='fast_spies' class='fast_panel'></a>
                    <a href='#fast_favourite' id='fast_favourites' class='fast_panel'></a>
                </td>
                </tr>
            </table>
            <div id="tag">
                {% load tagging_tags %}
                {% tag_cloud_for_model main.Post as tags with steps=9 distribution=log min_count=20 %}
                {% for tag in tags %}
                   <a class='tag_{{tag.font_size }}' href='/tag/{{ tag|urlencode }}/'>{{ tag }}</a>
                {% endfor %}
            </div>
            <table class="top">
                <tr><td id='fast_list_area'>
                <span><a href='/list/users/'>{{ profiles_count }}
                {% if LANGUAGE_CODE == 'ru-ru' %}
                    {{ profiles_count|choose_plural:"пользователь,пользователя,пользователей" }}</a> из
                {% else %}
                    {% trans "users</a> from" %}
                {% endif %}
                    <a href='/list/city/'>{{ city_count  }}
                    {% if LANGUAGE_CODE == 'ru-ru' %}
                        {{ city_count|choose_plural:"город,города,городов" }}.
                    {% else %}
                        {% trans "cities." %}
                    {% endif %}
                </a></span>
                <ul>
                    {% for profile in top_profiles %}
                        <li class="user"><a href="/user/{{ profile.name }}/">{{ profile.name }} ({{ profile.rate }})</a></li>
                    {% endfor %}
                </ul>
                <span><a href='/list/blogs/'>{% if LANGUAGE_CODE == 'ru-ru' %}
                    Из {{ blogs_count }} блог{{ blogs_count|choose_plural:",а,ов" }}.
                {% else %}
                    {{ blogs_count }} {% trans "blogs" %}.
                {% endif %}</a></span>
                <ul>
                    {% for blog in top_blogs %}
                        <li class="user"><a href="/blog/{{ blog.id }}/">{{ blog.name }} ({{ blog.rate }})</a></li>
                    {% endfor %}
                </ul>
            </td>
                <td  id='fast_list_selector'>
                    <a href='#fast_users' id='fast_users' class='fast_panel'></a>
                    <a href='#fast_blogs' id='fast_blogs' class='fast_panel'></a>
                </td>
                </tr>
            </table>
        </div>
        {% endcache %}
        {% cache 0 bottom_menu %}
        <div class='menu' id="bottom">
            {% show_menu "bottom_menu" "ordered-list" %}
        </div>
        {% endcache %}
</body>
</html>
