{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Edit user" %}
{% endblock %}
{% block content %}
    <h2>{% trans "Edit user account" %}</h2>
    <form action="/action/edit_user/" method="post">
        <table>
            <tr>
                <td>E-mail</td><td>{{ form.mail }}</td>
            </tr>
            <tr>
                <td>{% trans 'Show mail' %}</td><td>{{ form.show_mail }}</td>
            </tr>
            <tr>
                <td>ICQ</td><td>{{ form.icq }}</td>
            </tr>
            <tr>
                <td>Jabber</td><td>{{ form.jabber }}</td>
            </tr>
            <tr>
                <td>{% trans 'Site' %}</td><td>{{ form.site }}</td>
            </tr>
            <tr>
                <td>{% trans 'City' %}</td><td>{{ form.city }}</td>
            </tr>
            <tr>
                <td>{% trans 'Timezone' %}</td><td>{{ form.timezone }}</td>
            </tr>
            <tr>
                <td>{% trans 'Notify post reply' %}</td><td>{{ form.notify_post_reply }}</td>
            </tr>
            <tr>
                <td>{% trans 'Notify comment reply' %}</td><td>{{ form.notify_comment_reply }}</td>
            </tr>
            <tr>
                <td>{% trans 'Notify pm' %}</td><td>{{ form.notify_pm }}</td>
            </tr>
        </table>
        {% trans 'About you:' %}<br />
        {{ form.about }}<br />
        {% trans "Your accounts on other web sites:" %}
        <div id='meon_area'>
            {% if profile.get_me_on %}
                {% for meon in profile.get_me_on %}
                    <p id="meonp_{{ meon.num }}"><input class='meon' type="text" name="meon[{{ meon.num }}]"
                                                        value="{{ meon.title }}"/><input class='meon_url' type="text"
                                                                                         name="meon_url[{{ meon.num }}]"
                                                                                         value="{{ meon.url }}"/><input
                            type='checkbox' name="meon_status[{{ meon.num }}]"
                            {% if meon.statused %}
                            {% if meon.show %}
                            checked="checked"
                            {% endif %}
                            {% else %}
                            style='display: none'
                            {% endif %}/>
                        <a href="#" id="{{ meon.num }}" class="rm_meon">X</a>
                    </p>
                {% endfor %}
                <input type='hidden' name='count' id="meon_count" value='{{  profile.get_me_on|length }}'/>
            {% else %}
                <input type='hidden' name='count' id="meon_count" value='0'/>
            {% endif %}
        </div>
        <input type="button" id="add" value="Add"/><input type="button" id="rm" value="Remove"/><br/><br/><br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
