{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Edit user" %}
{% endblock %}
{% block content %}
    <h2>{% trans "Edit user account" %}</h2>
    <form action="/action/edit_user/" method="post">
        <ul class="form">
            {{ form.as_ul }}
        </ul>
        {% trans "Your accounts on other web sites:" %}
        <div id='meon_area'>
            {% if profile.get_me_on %}
                {% for meon in profile.get_me_on %}
                    <p id="meonp_{{ meon.num }}"><input class='meon' type="text" name="meon[{{ meon.num }}]"
                                                        value="{{ meon.title }}"/><input class='meon_url' type="text"
                                                                                         name="meon_url[{{ meon.num }}]"
                                                                                         value="{{ meon.url }}"/><input
                            type='checkbox' name="meon_status[{{ meon.num }}]"
                            {% if meon.statused %}
                            {% if meon.show %}
                            checked="checked"
                            {% endif %}
                            {% else %}
                            style='display: none'
                            {% endif %}/>
                        <a href="#" id="{{ meon.num }}" class="rm_meon">X</a>
                    </p>
                {% endfor %}
                <input type='hidden' name='count' id="meon_count" value='{{  profile.get_me_on|length }}'/>
            {% else %}
                <input type='hidden' name='count' id="meon_count" value='0'/>
            {% endif %}
        </div>
        <input type="button" id="add" value="Add"/><input type="button" id="rm" value="Remove"/><br/><br/><br/>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
