{% extends extend %}
{% load i18n %}
{% block title %}
    {% if edit %}
        {% trans "Edit comment" %}
    {% else %}
        {% trans "Create comment" %}
    {% endif %}
{% endblock %}
{% block content %}
<form {% if not edit %}id="/newcomment/{{ pid }}/{{ cid }}/"{% endif %} action="{% if edit  %}/action/edit_comment/{{ cid }}/{% else %}/newcomment/{% if json %}?json=1{% endif %}{% endif %}" method="POST">
    {{ form.text }}
    {{ form.comment }}
    {{ form.post }}<br />
    <input value="{% trans "Reply" %}" type="submit" />
    {% if not edit %}
        <input type='button' class='preview_comment_button' value="{% trans 'Preview' %}" />
    {% endif %}
</form>
{% endblock %}