{% extends "base.html" %}
{% block title %}
New post
{% endblock %}
{% block content %}
<div id="post_type">
<a href="?">Post</a> <a href="?type=link">Link</a> <a href="?type=translate">Translate</a> <a href="?type=answer">Answer</a>
</div>
<form action='/newpost/?type=answer' method='post'>
<select name="blog">
	<option value="0">Персональный</option>
       {% for blog in blogs %}
        <option value="{{ blog.getId }}">{{ blog }}</option>
       {% endfor %}
    </select>
<input type='text' name='title'/>
<br />
{% for i in answers_count %}
<input type='text' name='{{ i }}'/><br />
{% endfor %}
<input type='checkbox' name='multi' /><br />
<input type='text' name='tags'/><br />
<input type='hidden' name='count' value='{{ count }}' />
<input type='submit'>
</form>
{% endblock %}
