{% extends extend %}
{% load i18n %}
{% block title %}
{% trans "New post" %}
{% endblock %}
{% block content %}
<div id="post_type">
<a href="?">{% trans "Post" %}</a> <a href="?type=link">{% trans "Link" %}</a> <a href="?type=translate">{% trans "Translate" %}</a> <a href="?type=answer">{% trans "Answer" %}</a>
</div>
<form action='/newpost/?type=answer' method='post'>
<select name="blog">
	<option value="0">{% trans "Not in blog" %}</option>
       {% for blog in blogs %}
        <option {% if blog.selected %}selected{% endif %} value="{{ blog.id }}">{{ blog }}</option>
       {% endfor %}
    </select>
<input type='text' name='title'/>
<div id="answ_area">
{% for i in answers_count %}
<p id="answp_{{ i }}"><input type='text' name='{{ i }}'/><a href="#" id="{{ i }}" class="rm_answ">X</a></p>
{% endfor %}
</div>
<input type="button" id="add_answ" value="Add"/><input type="button" id="rm_answ" value="{% trans 'Remove' %}"/><br/><br/><br/>
<label><input type='checkbox' name='multi' />{% trans "Allow multiple answer" %}</label><br />
<label>{% trans "Tags:" %} <input type='text' name='tags'/></label><br /><br />
<input type='hidden' name='count' value='{{ count }}' id='count' />
<input type='submit'>
</form>
{% endblock %}
