{% extends extend %}
{% load i18n %}
{% block title %}
{% trans "New post" %}
{% endblock %}
{% block content %}
{% if not draft %}
    <div id="post_type">
    <a href="?">{% trans "Post" %}</a> <a href="?type=link">{% trans "Link" %}</a> <a href="?type=translate">{% trans "Translate" %}</a> <a href="?type=answer">{% trans "Answer" %}</a>
    </div>
{% endif %}
<form action='{% if draft %}/draft/{{ id }}/{% else %}/newpost/?type={{ type }}{% endif %}' method='post'>
    <select name="blog">
	<option value="0">{% trans "Not in blog" %}</option>
       {% for blog in blogs %}
        <option value="{{ blog.id }}">{{ blog }}</option>
       {% endfor %}
    </select>
{{ form.title }}<br />
{{ form.text }}<br />
 <label>
    {% if type == 'link' %}
        {% trans "Link:" %}
    {%  endif %}
    {% if type == 'translate' %}
        {% trans "Source:" %}
    {%  endif %}
{{ form.addition }}<br /></label>
<label>{% trans "Tags:" %} {{ form.tags }}</label><br />
<input type='hidden' name='draft_id' value='{% if daft_id %}{{ draft_id }}{% else %}-1{% endif %}' />
<input type='submit' /> <input type='button' value='{% trans "Preview" %}' id='preview_btn' /> <input name='draft' type='submit' value="{% trans 'Save as draft!' %}">
</form>
{%  endblock %}