{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% if post.blog %}
{{ post.blog }}
{% else %}
{{ post.author }}
{% endif %}
 — {{ post.title }}
{% endblock %}
{% block content %}
{% include 'post_item.html' %}
{% load tagging_tags %}
<div class="post_bottom">
    <div class="post_full">
        {% for tag in post.get_tags %}
            <a href='/tag/{{ tag }}/'>{{ tag }}</a>
        {% endfor %}
    </div>
{% include "post_rate.html" %}
</div>
{% if request.user.is_authenticated %}
    <div class='post_actions'>
        {% if PERM_EDIT_POST %}
            <a href='/action/edit_post/{{ post.id }}/'>{% trans "Edit post!" %}</a>
        {% endif %}
        {% if PERM_DELETE_POST %}
            <a href='/action/delete_post/{{ post.id }}/'>{% trans "Delete post!" %}</a>
        {% endif %}
        {% if options.favourite %}
            <a href='/action/favourite/{{ post.id }}/'>{% trans "Remove from favourite!" %}</a>
        {% else %}
            <a href='/action/favourite/{{ post.id }}/'>{% trans "Add to favourite!" %}</a>
        {% endif %}
        {% if post.author != request.user %}
            {% if options.spy %}
                <a href='/action/spy/{{ post.id }}/'>{% trans "Remove from spy!" %}</a>
            {% else %}
                <a href='/action/spy/{{ post.id }}/'>{% trans "Add to spy!" %}</a>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
{% for comment in comments %}
    {% include 'single_comment.html' %}
{% endfor %}
<div class="comment_reply_form" id='main_form'>
    <form action="/newcomment/" method="POST">
        {{ comment_form.text }}
        {{ comment_form.comment }}
        {{ comment_form.post }}<br />
        <input type="submit" /> <input type='button' class='preview_comment_button' value="{% trans 'Preview' %}" />
    </form>
</div>
<a href='#main_form' id="main_form_hide">Reply</a>
{% endblock %}
