{% extends "base.html" %}
{% load i18n %}
{% block title %}

{% endblock %}
{% block content %}
<div class='post_list'>
<div class="post_list_head">
    {% if type == 'auth' %}
        <span class="left">{% trans "Posts by " %}<a href='/user/{{ subject.user }}/'><img src='{{ subject.user.get_profile.get_avatar }}' class='mini_av' /> {{ subject.user }}</a></span>
            <span class="right">{% if option == 0 %}
            <a href="/action/friend/{{ subject.user }}/">{% trans "Add to friends!" %}</a>
            {% endif %}
            {% if option == 1 %}
                <a href="/action/friend/{{ subject.user }}/">{% trans "Remove from friends!" %}</a>
            {% endif %}</span>
    {% endif %}
    {% if type == 'blog' %}
        <span class="left">{% trans "Posts in " %}<a href='/blog/{{ subject.id }}/'><img src='{{ subject.get_avatar }}' class='mini_av' /> {{ subject.name }}</a></span>
            <span class="right">{% if option == 0 %}
            <a href="/action/join/{{ subject.id }}/">{% trans "Invite!" %}</a>
            {% endif %}
            {% if option == 1 %}
                <a href="/action/join/{{ subject.id }}/">{% trans "Get out!" %}</a>
            {% endif %}</span>
    {% endif %}
    {% if type == 'tag' %}
        <span>{% trans "Posts with tag " %}<a href="/tag/{{ subject }}/">{{ subject }}</a></span>
    {% endif %}
    {% if type == 'favourite' %}
        <span>{% trans "Your favourite posts!" %}</span>
    {% endif %}
</div>
{% for post in object_list %}
<div class='post'>
    {% include 'post_item.html' %}
    <div class="post_bottom">
        {% if post.type < 3 and post.have_cut %}
            <div class="post_full"><a href="/post/{{ post.id }}/">{% trans "Show full." %}</a></div>
        {% endif %}

       {% include "post_rate.html" %}
    </div>
</div>
{% endfor %}
</div>
<div>
    {% include "paginator_digg.html" %}
</div>
{% endblock %}
