<div class='post_container'>
<div class="title">
{% if post.blog %}
    <a href="/user/{{ post.author }}/">{{ post.author }}</a>
{% endif %}
<span class="date">{{ post.date }}</span>
</div>
<h2>{% if post.blog %}
<a href="/blog/{{ post.blog.id }}/">
    {% if post.blog.get_avatar %}
        <img src='{{ post.blog.get_avatar }}' class='post_av' />
    {% endif %}
    {{ post.blog }}</a>
{% else %}
<a href="/user/{{ post.author }}/">
    <img src='{{ post.author.get_profile.get_avatar }}' class='post_av' />
    {{ post.author }}</a>
{% endif %}
 — <a href="/post/{{ post.id }}/">{{ post.title }}</a></h2>
{% if post.is_answer %}
    {% load answer %}
    {% print_answer %}
{% else %}
    {% autoescape off %}
        {{ post.get_content }}
    {% endautoescape %}
{% endif %}
</div>