{% load i18n %}
{% load timezone_filters %}
<div class='comment' id="cmnt{{ comment.id }}" style="margin-left:{{comment.get_margin}}px;">
    <div class='comment_top{% if last_view and last_view < comment.created %} new_comment{% endif %}'>
        <a href="/user/{{ comment.author }}/" class="comment_author"><img src='{{ comment.author.get_profile.get_avatar }}' class='mini_av' /> {{ comment.author }}</a>
        <span class="date">{{ comment.get_time|localtime:TIMEZONE }}</span>
        <a href="/post/{{ post.id }}/#cmnt{{ comment.id }}">#</a>
        {% if comment.get_depth > 2 %}
            <a href="/post/{{ post.id }}/#cmnt{{ comment.get_parent.id }}">↑</a>
        {% endif %}
        <div class="comment_rate">
            <a class="minus_rate" href='/action/ratecom/{{ comment.id }}/0/'>-</a>
                <span
                {% if comment.rate > 0 %}
                    class='plus_rate'
                {% endif %}{% if post.rate < 0 %}
                    class='minus_rate'
                {% endif %}>
                    {{ comment.rate }}
                </span>
            <a class="plus_rate" href='/action/ratecom/{{ comment.id }}/1/'>+</a>
        </div>
    </div>
    <div class="comment_text">
        {% autoescape off %}
            {{ comment }}
        {% endautoescape %}
    </div>
{% if request.user.is_authenticated %}
    <a class='comment_reply' href='/newcomment/{{ post.id }}/{{ comment.id}}/'><img src="/media/style/speech_bubble.gif" alt="" />{% trans "Reply" %}</a>
{% endif %}
</div>