{% extends "base.html" %}
{% load i18n %}
{% load timezone_filters %}
{% block title %}
{% trans "Comments by" %} {{ user }}
{% endblock %}
{% block content %}
        <h2>{% trans "Comments by" %} {{ user }}</h2>
        {% for comment in object_list %}
                    <div class='comment' id="cmnt{{ comment.id }}">
                <div class='comment_top'>
                    <a href="/user/{{ user }}/" class="comment_author"><img src='{{ user.get_profile.get_avatar }}' class='mini_av' />{{ user }}</a>
                    <span class="date">{{ comment.created|localtime:TIMEZONE   }}</span>
                    <a href="/post/{{ comment.post.id }}/#cmnt{{ comment.id }}">#</a>
                    <div class="comment_rate">

                            <span
                            {% if comment.rate > 0 %}
                                class='plus_rate'
                            {% endif %}{% if post.rate < 0 %}
                                class='minus_rate'
                            {% endif %}>
                                {{ comment.rate }}
                            </span>

                    </div>
                </div>
                <div class="comment_text">
                    {% autoescape off %}
                        {{ comment }}
                    {% endautoescape %}
                </div>
            </div>
        {% endfor %}

<div class='paginator'>
    {% include "paginator_digg.html" %}
</div>
{% endblock %}