<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel='Stylesheet' type='text/css' href='/media/style/main.css'>
<link rel='Stylesheet' type='text/css' href='/media/style/code.css'>
    <link href="/media/style/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
    <link href="/media/style/jquery.jgrowl.css" type="text/css" media="all" rel="stylesheet" />
    <script src="/media/script/jquery.js"></script>
    <script src="/media/script/jquery.jgrowl_compressed.js"></script>
    <script type="text/javascript" src="/media/script/jquery.autocomplete.min.js"></script>
    <script src="/media/script/main.js"></script>
    <title>{{ SITENAME }} {% block title %}{% endblock %}</title>
</head>
<body>
    <h2>
        Что-то пошло не так, <a href='javascript:history.back(1)'>назад</a>?
    </h2>

</body>
</html>